@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    border: solid red 1px;
}

body {
    margin: 0;
    height: 100vh;

}

#main {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    flex: 1;

}

#side {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #03021A;
    color: white;
    font-family: Nunito;
}

#side-items {
    padding: 30px;
}

#introduction {
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.picture {
    height: 100vh;
    background-image: url(./picture.jpg);
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    width: 40vw;
}

input, label {
    display: block;
}