body {
    margin: 0;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100vh;

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.picture {
    background-image: url(./picture.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35vw;
}